{% extends 'base.html.twig' %}

{%block body%} 

<header>
    
    <div id="">
        <ul>
            <li>
                <select id="">
                    <option selected="selected" value="/app.php/fr/agenda/next">Français
                    </option>
                    <option   value="/app.php/en/agenda/next">English
                    </option>
                </select>
            </li>

            <li><a class="" href="/app.php/fr/register/">S'INSCRIRE</a></li>
            <li><a class="" href="/app.php/login">SE CONNECTER</a></li>
        </ul>
    </div>

    
    <div>
        <a href="/app.php/"><img src="{{asset('img/sciencetour.png')}}" alt="Logo d'il paraît que..."/></a>
        <h1>Il parait que ...</h1>
        <a href="http://www.lespetitsdebrouillards.org" target="_blank"><img src="{{asset('img/pdeb.png')}}" alt="logo petit deb"/></a>
    </div>
    <nav>
        <ul>
            <li ><a href="/app.php/">Accueil</a></li>
            <li ><a href="/app.php/fr/agenda">Agenda</a></li>
            <li>
                <form id="searchbar" method="get"
                      action="/app.php/fr/search">
                    <input type="text" id="searchbar_query"
                           name="query"/>
                    <input type="submit" value=""/>
                </form>
            </li>
        </ul>
    </nav>
       
</header>


<main>

    <section>            
        <h3>Événements</h3>
        <ul class="banner-overlay-nav">
            <li><a href="/app.php/fr/agenda"><i class="icon-pushpin"></i>À la une<span>0</span></a></li>
            <li><a href="/app.php/fr/agenda/favorite"><i class="icon-star"></i>Favoris<span>0</span></a></li>
            <li><a href="/app.php/fr/agenda/next" class="active"><i class="icon-forward"></i>Les prochains<span>0</span></a></li>
            <li><a href="/app.php/fr/agenda/past"><i class="icon-backward"></i>Les passés<span>0</span></a></li>
            <li><a href="/app.php/fr/agenda/trucks"><i class="icon-truck"></i>Trucks<span>0</span></a></li>
        </ul>
    </section>

	<section>
	        <h1>Les prochains</h1>
	</section>
		
	    <aside>
            <h1>AGENDA</h1>
            <div id="calendar-holder"></div>

            <h1>Autour de moi</h1>


            <table>
            </table>
	
		</aside>
  
     <h1>Evenements</h1>

       <ul id="list">
        {% for e in event %}
            <li>{{e.nom}}</li>
            <li>{{e.date | date('d/m/Y')}}</li>
            <li>{{e.localisation }}</li>
            <li>{{e.heure |date('H:i')}}</li>   
        {% endfor %}
        </ul>

        <div id="mapid"></div>

       <script>
            let mymap = L.map('mapid').setView([48.8534, 2.3488], 13); 
            display_map();
            {% for e in event %}
                display_marker({{e.latitude}}, {{e.longitude}})
            {% endfor %}
       </script> 
</main>
{%endblock%}

