{% extends 'base.html.twig' %}

{% block body %}
    <h1>Projects list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Date</th>
                <th>Localisation</th>
                <th>Heure</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td><a href="{{ path('event_show', { 'id': project.id }) }}">{{ project.id }}</a></td>
                <td>{{ project.nom }}</td>
                <td>{% if project.heure %}{{ project.date|date('d/m/Y') }}{% endif %}</td>
                <td>{{ project.localisation }}</td>
                <td>{% if project.heure %}{{ project.heure|date('H:i') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('event_show', { 'id': project.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('event_edit', { 'id': project.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('event_new') }}">Create a new project</a>
        </li>
    </ul>
{% endblock %}
